---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.astro";
---

<BaseLayout title="Sitemap | Freeway Mobile Tyres" description="Sitemap for Freeway Mobile Tyres">
  <Heading text="Sitemap" />
  <div class="container">
    <p><a class="link-danger" href="/">Home</a></p>
    <p>Mobile Tyres</p>
    <ul>
      <li>
        <a class="link-danger" href="/mobile-tyres/mobile-tyre-fitting">Mobile Tyre Fitting</a>
      </li>
      <li>
        <a class="link-danger" href="/mobile-tyres/emergency-mobile-tyre-fitting"
          >Emergency Mobile Tyre Fitting</a>
      </li>
      <li>
        <a class="link-danger" href="/mobile-tyres/mobile-caravan-tyre-fitting"
          >Mobile Caravan Tyre Fitting</a>
      </li>
      <li><a class="link-danger" href="/mobile-tyres/puncture-repair">Puncture Repair</a></li>
    </ul>
    <p>Services</p>
    <ul>
      <li>
        <a class="link-danger" href="/services/locking-wheel-nut-removal"
          >Locking Wheel Nut Removal</a>
      </li>
      <li>
        <a class="link-danger" href="/services/tyre-pressure-monitoring-system"
          >Tyre Pressure Monitoring System</a>
      </li>
      <li>
        <a class="link-danger" href="/services/mobile-car-battery-system"
          >Mobile Car Battery System</a>
      </li>
      <li><a class="link-danger" href="/services/mobile-brake-fitting">Mobile Brake Fitting</a></li>
      <li>
        <a class="link-danger" href="/services/alloygator-wheel-protection"
          >Alloygator Wheel Protection</a>
      </li>
      <li>
        <a class="link-danger" href="/services/alloy-wheel-repair"
          >Alloy Wheel Repair</a>
      </li>
    </ul>
    <p>Coverage</p>
    <ul>
      <li><a class="link-danger" href="/coverage/blandford-forum">Blandford Forum</a></li>
      <li><a class="link-danger" href="/coverage/bournemouth">Bournemouth</a></li>
      <li><a class="link-danger" href="/coverage/christchurch">Christchurch</a></li>
      <li><a class="link-danger" href="/coverage/dorchester">Dorchester</a></li>
      <li><a class="link-danger" href="/coverage/poole">Poole</a></li>
      <li><a class="link-danger" href="/coverage/ringwood">Ringwood</a></li>
      <li><a class="link-danger" href="/coverage/shaftesbury">Shaftesbury</a></li>
      <li><a class="link-danger" href="/coverage/sturminster-newton">Sturminster Newton</a></li>
      <li><a class="link-danger" href="/coverage/swanage">Swanage</a></li>
      <li><a class="link-danger" href="/coverage/verwood">Verwood</a></li>
      <li><a class="link-danger" href="/coverage/weymouth">Weymouth</a></li>
      <li><a class="link-danger" href="/coverage/wimborne">Wimborne</a></li>
    </ul>
    <p><a class="link-danger" href="/about">About</a></p>
    <p><a class="link-danger" href="/contact">Contact</a></p>
    <p>Legal Pages</p>
    <ul>
      <li><a class="link-danger" href="/cookie-policy">Cookie Policy</a></li>
      <li><a class="link-danger" href="/terms-and-conditions">Terms & Conditions</a></li>
      <li class="mb-5"><a class="link-danger" href="/privacy-policy">Privacy Policy</a></li>
    </ul>
  </div>
</BaseLayout>
