---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Thanks" description="Thank you page.">
    <div class="container py-5">
        <h1>Thank You</h1>
        <p>We have received your quote request. A member of our team will be in touch in the next 24 hours. Please call 0800 7311 260 if you need urgent assistance.</p>
    </div>
  </BaseLayout>
