---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Thanks" description="Thank you page.">
    <div class="container py-5">
        <h1 class="mb-3">Thank You</h1>
        <p>We have received your quote request.</p>
        <p>A member of our team will get in touch with you as quickly as possible.</p>
        <p class="fs-5"><strong>In the case of an emergency, please call <a href="tel:08007311260" class="link-danger">0800 7311 260</a> for urgent assistance.</strong></p>
    </div>
  </BaseLayout>