---
const { heroHeading, heroSubheading, heroBgImg } = Astro.props;

import Quote from "./Quote.astro";
---

<section id="hero" class="d-flex align-items-center py-5">
  <div class="container">
    <div class="row">
      <div
        class="text-center text-lg-start d-flex justify-content-center flex-column align-items-center align-items-lg-start text-light col-12 col-lg-6 mb-5 mb-lg-0"
      >
        <p class="display-3 fw-bold">{heroHeading}</p>
        <p class="lead fs-3">{heroSubheading}</p>
        <div class="d-flex flex-column flex-lg-row">

          <span class="mb-2 me-4"
            ><i class="bi bi-calendar-check-fill me-2"></i>Open 7 Days a Week</span
          >
          <span class="mb-2 me-4"
            ><i class="bi bi-clock-fill me-2"></i>Same Day Service</span
          >
          <span class="mb-2 me-4"
            ><i class="bi bi-house-fill me-2"></i>We Come to You</span
          >
        </div>
        <div class="row bg-light rounded-3 text-dark ms-0 mt-3">
          <div class="col-3 p-3 d-flex align-items-center">
            <img
              src="https://seeklogo.com/images/G/google-logo-28FA7991AF-seeklogo.com.png"
              alt=""
              width="35"
            />
          </div>
          <div class="col-9 p-3">
            <p class="mb-0">Google</p>
            <p class="h5 mb-0">
              4.9 <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </p>
            <p class="mb-0 small">Based on 684 reviews</p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 offset-lg-2 col-12 d-flex align-items-center justify-content-center flex-column"
      >
      <!-- Quote Form -->
       <Quote />
      </div>
    </div>
  </div>

  <style define:vars={{ heroBgImg }}>
    #hero {
      background-image: var(--heroBgImg);
      background-size: cover;
      background-position: center;
      min-height: 80vh;
      box-shadow: inset 0 0 0 2000px rgba(33, 37, 41, 0.85);
    }
  </style>
</section>
